apiVersion: v1
kind: Service
metadata:
  name: notes-frontend
  labels:
    app: notes-frontend
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30080
    protocol: TCP
  selector:
    app: notes-frontend

